doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title EZ MATH 
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/css/style.css")
        script( src="https://code.jquery.com/jquery-3.5.1.slim.js" 
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous")
        script(src="/js/index.js")
    body 
    <!---=== EZ MATH ===--->
        .ez-math    
            .bar 
                .bar__progress-scale#lvl 
                p.bar__name LVL
            .ez-math__body 
                p.ez-math__logo EZ MATH
                .ez-math__info
                    p.ez-math__points 0
                    .ez-math__time-block 
                        p.ez-math__best-res 0s
                        p.ez-math__timer 14.5s
                        p.ez-math__average-res 0s
                .ez-math__text-panel.ez-math__quest
                    p.ez-math__quest-text 1893821 + 12141
                .ez-math__text-panel.ez-math__answer
                    p.ez-math__answer-text 
                .ez-math__keyboard 
                    .btn#num1
                        p 1
                    .btn#num2
                        p 2
                    .btn#num3
                        p 3
                    .btn#num4
                        p 4
                    .btn#num5
                        p 5
                    .btn#num6
                        p 6
                    .btn#num7
                        p 7 
                    .btn#num8
                        p 8 
                    .btn#num9
                        p 9 
                    .btn#next
                        p NEXT 
                    .btn#num0 
                        p 0
                    .btn#delete
                        p DELETE    
            .bar 
                .bar__progress-scale#bst 
                p.bar__name BST